<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555413971850-4ccokj3aasd15jo0072aj71o37cjpj6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555413971850-4ccokj3aasd15jo0072aj71o37cjpj6a</string>
	<key>API_KEY</key>
	<string>AIzaSyARmj3z9-sjGxgrqxQi-beKqLJxSo3L-WE</string>
	<key>GCM_SENDER_ID</key>
	<string>555413971850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monigarr.TicTacToeGameDemo</string>
	<key>PROJECT_ID</key>
	<string>tictactoegamedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoegamedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:555413971850:ios:f065771c44d45c89</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoegamedemo.firebaseio.com</string>
</dict>
</plist>